@use '../../Styles/Abstracts/variables' as *;



.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sz-450;
    background-color: rgba($clr-neutral-1000, 0.6);
    border-radius: $sz-200;
    border: 1px solid $clr-accent-ylw;
    border-top: none;
    border-bottom: none;
    padding-bottom: $sz-150;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: min(100%, 500px);
    overflow-y: hidden;
    min-height: 100vh;

    &--wrapper {
        min-height: 100vh;
        width: 100%;
       position: relative;
    }

    &__close--button {
        background: transparent;
        border: none;
        width: 12%;
        position: absolute;
        top: 2%;
        right: 2%;
    }
}