@use '../../Styles/Abstracts/variables' as *;



.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sz-450;
    background-color: rgba($clr-neutral-1000, 0.6);
    border-radius: $sz-200;
    border: 1px solid $clr-accent-ylw;
    border-top: none;
    border-bottom: none;
    padding-bottom: $sz-150;
    position: absolute;
    z-index: 1000;
    width: 100%;
    min-height: 100vh;

    @media(min-width: $brealkpoint){
        display: none;
    }
    
    

    &--wrapper {
        min-height: 100vh;
        width: 100%;
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
    }

    &__close--button {
        background: transparent;
        border: none;
        width: min(12%, 56px);
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: 1001;
    }

    &__list {
        list-style: none;
        font-family: $ff-secondary;
        font-size: $sz-200;
        display: flex;
        flex-direction: column;
        gap: $sz-300;
        margin-left: -$sz-280;
        width: min(65%, 500px);

        @media(min-width: $breakpoint-tablet){
            font-size: $sz-250;
            gap: $sz-500;
        }
        
        ///animations at the bottom to keep this cleared

        &__item {
            border-bottom: $clr-accent-blue 2px solid;
            border-bottom-left-radius: $sz-100;
            padding-left: $sz-100;
            position: relative;

            &__link {
                text-decoration: none;
                color: $clr-neutral-200;
                position: relative;
                z-index: 1001;
            }

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border-bottom: $clr-neutral-200 2px solid;
                border-bottom-left-radius: $sz-100;
            }


        }

        @for $i from 1 through 4 {
            &__item:nth-child(#{$i}) {
                margin-left: calc(-20px + (#{$i} * 5px));
            }
        }
    }

    &__contact {
        animation: showUp 700ms ease-in-out forwards;
       width: 100%;
    }
}


/// Animation menu
/// 
/// 

.dropdown {
    &__list__item { 

        &--1 {
            &--active {
                animation: pullUp 1800ms ease-in-out forwards;
            }
        }

        &--2 {
            &--active {
                animation: pullUp2 1800ms ease-in-out forwards 300ms;
            }}

        // &--3 {
        //     &--active {
        //         animation: pullUp3 2s ease-in-out forwards 0.4s;
        //     }
        // }
        &--4 {
            &--active {
                animation: pullUp4 1800ms ease-in-out forwards 600ms;
            }
        }
    }
}

.item--off {
    display: none;
}



@keyframes pullUp {
    0% {
        top: 0;
        opacity: 1;
    }
    20% {
        top: -26vh;
        
    }
    50% {
        transform: scaleX(0.0);
        transform-origin: left;
    }
    95% {
        opacity: 0;
        top: -26vh;
    }
    100% {
        opacity: 0;
        top: -26vh;
        transform: scaleX(0.0);
        transform-origin: left;
        
    }
}

@keyframes pullUp2 {
    0% {
        top: 0;
        opacity: 1;
    }
    20% {
        top: -40vh;
    }
    50% {
        transform: scaleX(0.0);
        transform-origin: left;
    }
    98% {
        opacity: 0;
        top: -40vh;
    }
    100% {
        opacity: 0;
        top: -40vh;
        transform: scaleX(0.0);
        transform-origin: left;
    }
}

@keyframes pullUp4 {
    0% {
        top: 0;
        opacity: 1;
    }
    20% {
        top: -56vh;
    }
    50% {
        transform: scaleX(0.0);
        transform-origin: left;
    }
    100% {
        opacity: 0;
        top: -56vh;
        transform: scaleX(0.0);
        transform-origin: left;
    }
}


@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 
