@use "../../../Styles/Abstracts/variables" as *;



.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: min(100%, 500px);
  
  background-color: rgba($clr-neutral-1000,0.6);
  
  position: relative;
  padding-block: $sz-200;
  border-bottom-left-radius: $sz-200;
  border-bottom-right-radius: $sz-200;
  border: 1px solid $clr-accent-ylw;
  border-top: none;
  border-bottom: none;

  @media(min-width:$brealkpoint){
    width: 100%;
    justify-content: space-between;
    border-bottom-left-radius: $sz-100;
    border-bottom-right-radius: $sz-100;
    border: 3px solid $clr-accent-ylw;
    border-top: none;
    border-bottom: none;
    padding-left: $sz-100;
  }
  
  &__title {
    display: none;

    @media(min-width: $brealkpoint){
      display: block;
      position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    
    font-family: $ff-tertiary;
    font-size: $sz-340;
    transform: translate(-50%, -50%);
    

    span {
      text-shadow: 
      $clr-neutral-200 0px 0px 20px, $clr-neutral-200 0px 0px 20px, 
      $clr-neutral-200 0px -2px 20px, $clr-neutral-200 0px 2px 20px,
      $clr-neutral-200 0px -2px 40px, $clr-neutral-200 0px 2px 40px;
      font-family: $ff-tertiary;
      font-size: $sz-380;
      color: $clr-neutral-1000;
    }
    }
  }
 

  &__logo--wrapper {
    width: 40%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 12%;
      aspect-ratio: 1/1;
      left: 50%;
      top: 92%;
      transform: translate(-50%, -50%)  rotateX(80deg);
      background: rgba($clr-accent-ylw, 0.4);
      border-radius: 100vw;
      opacity: 0;
      animation: opacity 500ms ease-in-out forwards 2s;
    }

    @media(min-width:$brealkpoint){
      width: 128px;
      

      &::before {
        width: 50px;
        left: $sz-430;
      }
    }
  }  


  &__logo {
    
    width: 100%;
    border-radius: 100vw;
    animation: rotateIn 2s ease-in-out 200ms;
    position: relative;
    left:50%;
    
    transform: translate(-50%, 0%);

    
  }

  &__menu--button {
    width: 40px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1000;
    right: 2%;
    top: 61%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 700ms ;

   @media(min-width:$brealkpoint){
    display: none !important;
   }
    
  }


  &__menu--button--fixed {
    width: 40px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 1000;
    right: 2%;
    top: 16%;
    transform: translateY(-50%);
    opacity: 1; 
    animation: opacity 0.9s ease-in-out;
    

    @media(min-width:$brealkpoint){
      display: none !important;
     }
   
  }

  @keyframes rotateIn {
    0% {
      // top: 20%;
      transform: rotateZ(-180deg) ;
      
      left: -80%;
    }
    75% {
      
      transform: rotateZ(60deg) ;
      // top:20%;
      left: 65%;
    }
    100% {
      // top:20%;
      transform: rotateZ(0deg) ;
      
      left: 0%;
    }
  }

 
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


  

}

  
