@use "../../../Styles/Abstracts/variables" as *;



.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: min(100%, 500px);
  
  background-color: rgba($clr-neutral-1000,0.6);
  
  position: relative;
  padding-block: $sz-200;
  border-bottom-left-radius: $sz-200;
  border-bottom-right-radius: $sz-200;
  border: 1px solid $clr-accent-ylw;
  border-top: none;
  border-bottom: none;
  
  &__title {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: $ff-primary;
    font-size: $sz-200;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px $clr-neutral-1000;
    -moz-text-stroke: 1px $clr-neutral-1000;
    z-index: 1000;
    text-shadow: 2px 2px 2px $clr-neutral-1000;
   
  }
  &__slogan {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: $ff-primary;
    font-size: $sz-150;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: min(100%, 410px);
    color: #fff; // Base text color
    text-shadow: 2px -2px 2px $clr-neutral-1000;
 
    }

  &__logo--wrapper {
    width: 40%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 12%;
      aspect-ratio: 1/1;
      left: 50%;
      top: 92%;
      transform: translate(-50%, -50%)  rotateX(80deg);
      background: rgba($clr-accent-ylw, 0.4);
      border-radius: 100vw;
      opacity: 0;
      animation: opacity 500ms ease-in-out forwards 2s;
    }
  }  


  &__logo {
    
    width: 100%;
    border-radius: 100vw;
    animation: rotateIn 2s ease-in-out 200ms;
    position: relative;
    left:50%;
    
    transform: translate(-50%, 0%);

    
  }

  &__menu--button {
    width: 12%;
    object-fit: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1000;
    right: 2%;
    top: 61%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 700ms;
    
  }


  &__menu--button--fixed {
    width: 12%;
    object-fit: contain;
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 1000;
    right: 2%;
    top: 16%;
    transform: translateY(-50%);
    opacity: 1;
    animation: opacity 0.9s ease-in-out;
  }

  @keyframes rotateIn {
    0% {
      // top: 20%;
      transform: rotateZ(-180deg) ;
      
      left: -80%;
    }
    75% {
      
      transform: rotateZ(60deg) ;
      // top:20%;
      left: 65%;
    }
    100% {
      // top:20%;
      transform: rotateZ(0deg) ;
      
      left: 0%;
    }
  }

 
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


  

}

  
