/* colors */

$clr-neutral-200 : #EEEEFF;



$clr-neutral-300: hsl(204, 100%, 93%);
$clr-neutral-700: #00397a;
$clr-neutral-900: rgb(0, 24, 51);

$clr-neutral-1000: hsl(0, 0%, 0%);

$clr-accent-blue : hsl(188, 83%, 33%);
$clr-accent-ylw : #efc52e;
$clr-accent-red : hsl(2, 97%, 52%);

/*typography */

$ff-primary: 'Lora', sans-serif;
$ff-secondary: 'JetBrains Mono', sans-serif;
$ff-tertiary: 'Ruluko', sans-serif;

$fs-180: 1.125rem;
$fs-200: 1.25rem;
$fs-220: 1.375rem;
$fs-240: 1.5rem;
$fs-260: 1.625rem;
$fs-280: 1.875rem;
$fs-320: 2rem;
$fs-400: 2.5rem;
$fs-480: 3rem;
$fs-490: 3.125rem;
$fs-520: 3.5rem;
$fs-600: 4rem;
$fs-800: 5rem;

$fw-400: 400;
$fw-600: 600;


/* spacing */


$sz-010: 0.1rem;
$sz-020: 0.2rem;
$sz-030: 0.3rem;
$sz-040: 0.4rem;
$sz-050: 0.5rem;
$sz-060: 0.6rem;
$sz-070: 0.7rem;
$sz-080: 0.8rem;    
$sz-090: 0.9rem;
$sz-100: 1rem;
$sz-120: 1.2rem;
$sz-130: 1.3rem;
$sz-140: 1.4rem;
$sz-150: 1.5rem;
$sz-160: 1.6rem;
$sz-180: 1.8rem;
$sz-200: 2rem;
$sz-210: 2.1rem;
$sz-220: 2.2rem;
$sz-240: 2.4rem;
$sz-250: 2.5rem;
$sz-260: 2.6rem;
$sz-270: 2.7rem;
$sz-280: 2.8rem;
$sz-290: 2.9rem;
$sz-300: 3rem;
$sz-320: 3.2rem;
$sz-340: 3.4rem;
$sz-360: 3.6rem;
$sz-370: 3.7rem;
$sz-380: 3.8rem;
$sz-390: 3.9rem;
$sz-400: 4rem;
$sz-420: 4.2rem;
$sz-430: 4.3rem;
$sz-440: 4.4rem;
$sz-450: 4.5rem;
$sz-460: 4.6rem;
$sz-470: 4.7rem;
$sz-480: 4.8rem;
$sz-490: 4.9rem;
$sz-500: 5rem;
$sz-510: 5.1rem;
$sz-520: 5.2rem;
$sz-530: 5.3rem;
$sz-540: 5.4rem;
$sz-550: 5.5rem;
$sz-560: 5.6rem;
$sz-570: 5.7rem;
$sz-580: 5.8rem;
$sz-590: 5.9rem;
$sz-600: 6rem;
$sz-620: 6.2rem;
$sz-630: 6.3rem;
$sz-640: 6.4rem;
$sz-650: 6.5rem;
$sz-660: 6.6rem;
$sz-670: 6.7rem;
$sz-680: 6.8rem;
$sz-690: 6.9rem;
$sz-700: 7rem;
$sz-720: 7.2rem;
$sz-730: 7.3rem;
$sz-740: 7.4rem;
$sz-750: 7.5rem;
$sz-760: 7.6rem;
$sz-770: 7.7rem;
$sz-780: 7.8rem;
$sz-790: 7.9rem;
$sz-800: 8rem;
$sz-820: 8.2rem;
$sz-830: 8.3rem;
$sz-840: 8.4rem;
$sz-850: 8.5rem;


/* queries */

$brealkpoint: 62.5em;
