@use "./Abstracts/reset";
@use "./Abstracts/variables" as *;





#root {
    position: relative;
    z-index: -10000;
}


body {
    background-color: $clr-neutral-700;
    z-index: -1000000;
    position: relative;
    color: $clr-neutral-200;

}

.display-none {
    display: none;
}




html, body {
    
    

    font-size: 1em;

    @media(min-width: $brealkpoint){
        font-size: 1em;
    }

    @media(min-width: 94em){
        font-size: 1.2em;
    }
}


html,body {
   overflow-x: hidden;
    min-width: 100%;
    
}


button {
    border: none;
    background-color: transparent;
}


