@use '../Styles/Abstracts/variables' as *;




.app {
    transform: translateX("");
    transition: all 0.8s ease-in-out;

    @media(min-width: $brealkpoint){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
}

.app-pull {
  transform: translateX(-100%);
   transition: all 0.8s ease-in-out;
}

.nav-bar__dropdown {
 transform: translateX(0);
 transition: all 0.8s ease-in-out;
 position: relative;

  &--shut {
    transform: translateX(100vw);
   
    transition: all 0.8s ease-in-out;
    
  }
}

