@use '../Styles/Abstracts/variables' as *;




.app {
    transform: translateX("");
    transition: all 0.8s ease-in-out;
    
}

.app-pull {
  transform: translateX(-100%);
  transition: all 0.8s ease-in-out;
}

.nav-bar__dropdown {
 transform: translateX(0);
 transition: all 0.8s ease-in-out;
 

  &--shut {
    transform: translateX(100vw);
   
    transition: all 0.8s ease-in-out;
    
  }
}