@use '../../Styles/Abstracts/variables' as *;



.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $sz-200;
        font-family: $ff-primary;
        width: 100%;

        &--group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $sz-100;
            width: 100%;
        }

        &--input {
            width: 65%;
            border-radius: $sz-050;
            padding-top: $sz-020;
        }


        &--textarea {
            width: 80%;
            height: 220px;
            border-radius: $sz-150;
            padding-left: $sz-060;
            padding-top: $sz-020;
        }

        &--files {
            border: 1px solid $clr-accent-blue;
            padding: 5px;
            border-radius: $sz-050;
            box-shadow: 1px 1px 1px white;
        }

        &__submit-button {
            border: 1px solid $clr-accent-blue;
            padding: 5px;
            border-radius: $sz-050;
            background-color: transparent;
            box-shadow: 1px 1px 1px white;
        }
    }

   
}