@use '../../Styles/Abstracts/variables' as *;

@media(max-width: $brealkpoint) {
    .nav-desktop {
        display: none;
    }
}

.nav-desktop {
    margin-right: $sz-200;
    align-self: flex-end;
    position: relative;
    
    

    &__link-list {
        display: flex;
        list-style: none;
        gap: $sz-180;
        align-items: center;
        
    }

    &__link {
        text-decoration: none;
        color: $clr-neutral-200;
        font-size: $sz-120;
        border-bottom: 2px solid $clr-accent-ylw;
        border-bottom-right-radius: $sz-050;
        padding: $sz-050;

        &--active {
            border-bottom: none ;
            border-inline: 2px solid $clr-accent-ylw;
            border-bottom-right-radius: 0;
            position: relative;

           
          
            
        }

        &:hover {
            color: $clr-neutral-700;
            cursor: pointer;
            background: linear-gradient(180deg,rgba(239, 197, 46, 0) 0%, rgba(239, 197, 46, 1) 60%);
        }
    }


    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

