@use '../../Styles/Abstracts/variables' as *;



.Advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ff-secondary;
    width: 95%;

    @media(min-width: 94em){
        font-size: 0.8em;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $sz-200;
        padding-block: $sz-150;
        background-color: $clr-neutral-900;
        width: min(100%, 600px);
        border: 2px solid $clr-accent-ylw;
        border-top: none;
        border-bottom: none;
        border-radius: $sz-200;
    }

    &__title {
        text-align: center;
        font-weight: $fw-600;
        font-size: $sz-140;
    }

    &__subTitle{
        margin-top: $sz-050;
        margin-left: -$sz-100;
        padding-bottom: $sz-050;
        padding-left: $sz-100;
        box-shadow: -2px 2px 2px rgba($clr-neutral-200, 0.9);
        border-radius: $sz-020;
        text-align: center;
        font-size: $sz-120;
        
        font-style: italic;
        border: 2px solid $clr-accent-blue;
        border-top: none;
        border-right: none;
        width: 55%;
    }

    &__list {
        margin-top: $sz-150;
        width: min(99%, 500px);
        padding-left: $sz-200;
        padding-right: $sz-080;
        display: flex;
        flex-direction: column;
        gap: $sz-100;
        
        

        
    }

    &__item {

        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: -6%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 100vw;
            background-color: $clr-accent-ylw;
            
        }
    }

    &__price--before {
        margin-top: $sz-100;
        font-size: $sz-140;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 105%;
            height: 4px;
            background-color: $clr-accent-ylw;
            transform: translateY(-50%) rotate(14deg);
            left: -4%;
            top: 50%;
        }
    }

    &__price--after {
        text-align: center;
        margin-top: $sz-080;
        font-size: $sz-240;
        line-height: 50%;

        span {
            font-size: $sz-100;
        }
    }

    &__question {
        margin-top: $sz-100;
        font-size: $sz-130;
        text-align: center;
        font-style: italic;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $sz-050;
        text-align: center;
    }

    &__inputGroup {
        display: flex;
        flex-direction: column;
        gap: $sz-050;
        width: 100%;
    }


    &__button {
        border: 1px solid $clr-accent-blue;
        padding: 5px;
        border-radius: $sz-050;
        background-color: transparent;
        box-shadow: 1px 1px 1px white;
        

        &:active {
            transform: scale(0.9);
            top: 1px;
        }
}

   
} 
