@use "../../Styles/Abstracts/variables" as *;



.contact {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100%, 600px);
    margin-top: $sz-100;
    margin-inline: auto;
    
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $sz-200;
        font-family: $ff-primary;
        width: 100%;
        position: relative;
      

        &--group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $sz-100;
            width: 100%;
            position: relative;
        }

        &--input {
            width: 65%;
            border-radius: $sz-050;
            padding-top: $sz-020;
            position: relative;
        }


        &--textarea {
            width: 80%;
            height: 220px;
            border-radius: $sz-150;
            padding-left: $sz-060;
            padding-top: $sz-020;
            position: relative;
        }

        &--files {
            border: 1px solid $clr-accent-blue;
            padding: 5px;
            border-radius: $sz-050;
            box-shadow: 1px 1px 1px white;

            &:active {
                transform: scale(0.9);
                top: 1px;
            }
        }

        &__submit-button {
            border: 1px solid $clr-accent-blue;
            padding: 5px;
            border-radius: $sz-050;
            background-color: transparent;
            box-shadow: 1px 1px 1px white;

            &:active {
                transform: scale(0.9);
                top: 1px;
            }
        }
    }
    
    &__error {
       position:relative;
       color: $clr-accent-red;
       font-weight: bold;
       text-align: center;
       font-size: $sz-090;
       margin-top: -$sz-050;
    }
   
}

 
