@use "../../../Styles/Abstracts/variables" as *;



.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba($clr-neutral-1000,0.6);
  padding-block: $sz-200;
  border-bottom-left-radius: $sz-200;
  border-bottom-right-radius: $sz-200;
  border: 1px solid $clr-accent-ylw;
  border-top: none;
  border-bottom: none;
  position: relative;
  @media(min-width:$brealkpoint){
    width: 99%;
    
    justify-content: space-between;
    border-bottom-left-radius: $sz-100;
    border-bottom-right-radius: $sz-100;
    border: 3px solid $clr-accent-ylw;
    border-top: none;
    border-bottom: none;
    padding-left: $sz-100;
  }
  
  &__title {
    display: none;

    @media(min-width: $brealkpoint){
      display: block;
      position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    
    font-family: $ff-tertiary;
    font-size: $sz-340;
    transform: translate(-50%, -50%);
    

    span {
      text-shadow: 
      $clr-neutral-200 0px 0px 20px, $clr-neutral-200 0px 0px 20px, 
      $clr-neutral-200 0px -2px 20px, $clr-neutral-200 0px 2px 20px,
      $clr-neutral-200 0px -2px 40px, $clr-neutral-200 0px 2px 40px;
      font-family: $ff-tertiary;
      font-size: $sz-380;
      color: $clr-neutral-1000;
    }
    }
  }
 

  &__logo--wrapper {
    width: min(40%, 130px);

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: min(12%, 40px);
      aspect-ratio: 1/1;
      left: 50.5%;
      top: 92%;
      transform: translate(-50%, -50%)  rotateX(80deg);
      background: rgba($clr-accent-ylw, 0.4);
      border-radius: 100vw;
      opacity: 0;
      animation: opacity 500ms ease-in-out forwards 2s;
    }

    @media(min-width: $brealkpoint){
      width: 128px;

      &::before {
        width: 50px;
        left: $sz-500;
      }
    }

    @media(min-width:"94em"){
      width: 128px;
      

      &::before {
        width: 50px;
        left: $sz-430;
      }
    }
  }  


  &__logo {
    
    width: 100%;
    border-radius: 100vw;
    animation: rotateIn 2s ease-in-out 200ms;
    position: relative;
    left:50%;
    
    transform: translate(-50%, 0%);

    
  }



  @keyframes rotateIn {
    0% {
      // top: 20%;
      transform: rotateZ(-180deg) ;
      
      left: -80%;
    }
    75% {
      
      transform: rotateZ(60deg) ;
      // top:20%;
      left: 65%;
    }
    100% {
      // top:20%;
      transform: rotateZ(0deg) ;
      
      left: 0%;
    }
  }

 
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


  

}

  
