@use '../../../styles/abstracts/variables' as *;

*{
    list-style: none !important;
}

.contract__1 {



    
    background-color: $clr-neutral-200;
    color: $clr-neutral-1000;
    padding-bottom: $sz-100;
    width: min(105%, 800px);
    

    &__title {
        font-weight: $fw-600;
        font-size: $sz-200;
        font-family: "helvetica";
        text-align: center;
        margin-top: 0;
    }


    &__list {
        margin-top: $sz-100;
        list-style: none;
        display: flex;
        flex-direction: column;
     

        strong{
            font-weight: $fw-600;
        }

        &__item {
            font-weight: $fw-600;
            font-size: $sz-150;
            list-style: none;
            margin-top: $sz-100;

            &__content {
                font-weight: $fw-400;
                font-size: $sz-100;
                margin-top: $sz-050;
                display: flex;
                flex-direction: column;
                gap: $sz-050;
                list-style: none;

                li {
                    list-style: none;
                }
            }
        }
    }
}