@use "../../Styles/Abstracts/variables" as *;



.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
   
&__section--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $sz-450;
  background-color: rgba($clr-neutral-1000, 0.6);
  border-radius: $sz-200;
  border: 1px solid $clr-accent-ylw;
  border-top: none;
  border-bottom: none;
  padding-bottom: $sz-100;
  position: relative;
  width: min(100%, 500px);
}

&__section {

&__title {
  margin-top: $sz-270;
  text-align: center;
  font-weight: bold;
  font-family: $ff-primary;
  font-size: $sz-200;
  color: $clr-neutral-200;
  width: 90%;
}

&__description {
  font-family: $ff-secondary;
  text-align: center;
  width: 90%;
}

&__img {
  position: absolute;
  z-index: -1;
  top: 15%;
  width: 160px;
}
}


}